body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7fa;
    margin: 0;
    padding: 0;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

h1 {
    padding-top: 2rem;
    text-align: center;
    color: #4CAF50;
    font-size: 2.5rem;
    margin: 20px 0;
}

.intro-text {
    text-align: center;
    font-size: 1.2rem;
    color: #555;
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
}

ul li {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

ul li:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.produto-nome {
    font-family: 'Georgia', serif; 
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: capitalize; 
}

.produto-descricao {
    font-family: 'Verdana', sans-serif;
    font-size: 1rem;
    color: #777;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.step-links {
    font-size: 1rem;
}

.step-links a {
    color: #4CAF50;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.step-links a:hover {
    background-color: #4CAF50;
    color: white;
}

.current {
    font-weight: bold;
    color: #333;
    margin: 0 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 5rem;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 1rem;
}

/* Responsividade */
@media (max-width: 768px) {
    ul li {
        padding: 12px;
        font-size: 0.9rem;
    }
    
    h1 {
        font-size: 2rem;
    }

    .intro-text {
        font-size: 1rem;
    }
}
