<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Produtos</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    <header>
        <h1>Lista de Produtos</h1>
    </header>

    <main>
        <div class="intro-text">
            Aqui você vê a lista de todos os produtos disponíveis na nossa loja.
        </div>

        <ul>
            {% for produto in page_obj %}
                <li>
                    <span class="produto-nome">{{ produto.nome }}</span> - <span class="produto-descricao">{{ produto.descricao }}</span>
                </li>
            {% endfor %}
        </ul>

        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; primeira</a>
                    <a href="?page={{ page_obj.previous_page_number }}">anterior</a>
                {% endif %}

                <span class="current">
                    Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">próxima</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">última &raquo;</a>
                {% endif %}
            </span>
        </div>
    </main>

    <footer>
        <p>&copy; 2024 - Todos os direitos reservados.</p>
    </footer>

</body>
</html>
